.footer{ 
    margin: 0;
    padding: 20px;
    background:$background-fotter;   
    background-position: center;
    font-family: sans-serif;
    text-align:center ;
    bottom: 0;
    .mza{display: flex;
        justify-content:center;
        margin-top: 10px;
        font-family: cursive;
        color: black;
    }
    .redes{
        justify-content: center;
        padding: 10px;
        color: #000;
        margin-bottom: 20px;
    }
    .sitioweb {
        color: #000;
        justify-content: inherit;
        margin-bottom: 0;
      }
}
