.form-coomentario{
    height: 100px;
  }
  .form-control{
    margin-bottom: 30px;
  }
  .segmento{
    margin-top: 30px;
    border-radius: solid 1px;
    display: inline-grid;
  }
  .registering{
    margin-top: 40px;
  }
  td{
    margin-bottom: 45px;
  }