.row-index{
    border: solid 0.5px;
    border-radius: 15px;
    margin-top: 5px;
    &{
        -webkit-animation: wobble-hor-top 0.8s both;
        animation: wobble-hor-top 0.8s both;
        border-radius: 15px;
    }
    @-webkit-keyframes wobble-hor-top {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(6deg);
                  transform: translateX(-30px) rotate(6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(-6deg);
                  transform: translateX(15px) rotate(-6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(3.6deg);
                  transform: translateX(-15px) rotate(3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(-2.4deg);
                  transform: translateX(9px) rotate(-2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(1.2deg);
                  transform: translateX(-6px) rotate(1.2deg);
        }
    }
}

.mardelplata{
    background: url(../images/mdp.jpg);
}
.bariloche{
    background: url(../images/bariloche.webp);
}
.jujuy{
    background: url(../images/jujuy.webp);
}
.villagesell{
    background: url(../images/villagesell.jpg);
}
.mardelplata, .bariloche, .jujuy, .villagesell{
    border-radius: 15px;
    background-size: $background-size;
    background-position: $background-position;
    height: $height;

}
.mardelplata a:hover, .bariloche a:hover, .jujuy a:hover, .villagesell a:hover{
    color: white;
    background: #444343;
}

.col-a{
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 1px 25px;
    font-size: 20px;
    border-radius: 40px;
    &:hover{
        color: gray;
    }
}
.sec-1{
    color: #000;
    padding: 20px 0;
    text-align: center;
}
.pages-1{
    background: white;
}
.col h3{
    margin: 20px;
}
.text-1{
    font-size: 3rem;
    text-align: center;
}
.text-2{
    font-size: 2rem;
    padding: 50px;
}
.publicidad{
    display: flex;
justify-content: center;
}
// .main{
//     background: $main;
// }
