@media screen and (max-width: 1023px) {
    nav{
        flex-direction: column;
        text-align: center;
    }
    .ofertas{
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
    }
    .image{
        margin-left: 0;
        margin-right: 0;
    }
    .padre2{
        grid-template-columns:100%;
        grid-template-rows: repeat(4, 300px);
        grid-gap: 10px;
        margin: 20px;
    }
    .mardelplata, .bariloche, .jujuy, .villagesell{
        grid-column: 1;
    }
    .mardelplata{
        grid-row: 1;
    }
    .bariloche{
        grid-row: 2;
    }
    .jujuy{
        grid-row: 3;
    }
    .villagesell{
        grid-row: 4;
    }
     .publicidad{
        display: none;
    } 
    .menu{
        padding: 0;
        margin: 0;
        display: -webkit-inline-box;
    }
} 

@media screen and (max-width: 1023px){
    .hoteles{
        margin: 0;
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .hotel:hover{
        transform: scale(1);
    }

    .milan h1, .dosreyes h1, .plazajujuy h1, .rideamus h1{
        margin: 270px auto 0;
    }

    .hotel a{
        text-decoration: none;
    }
    .milan h1:hover, .dosreyes h1:hover, .plazajujuy h1:hover, .rideamus h1:hover{
        background: #000;
        color: #fff;
    }
}
@media screen and (max-width: 1023px){
    .casillas{
        height: vh;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(6, 50px);
        margin: 0 400px 0px 100px;
        padding-bottom: 10px;
        gap: 0;
        justify-content: center!important;
    }
    .casilla3{
        grid-column: 1/5;
    }
    .casilla4{
        grid-column: 1/5;
    }
    .casilla5{
        grid-column: 1/5;
    }
    .casilla6{
        grid-column: 1/5;
        background-color: #D0B483;
        padding: 10px;
    }
    .button{
        padding: 0 10px;
    }
    .itemconsultas{
        padding: 0;
    }
    .footer{
        padding: 44px;
    }
    .impreviaje{
        width: 100px;
    }
    }
    @media screen and (max-width: 700px){
        .casillas{
            margin: 0px 50px 0px 40px;
        }
    }
    .informacion{
        padding: 0 100px;
        color: #000;
    }
    .casillas-1{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(7, 80px);
        margin: 0px 500px 0 50px;
        gap: 10px;
        justify-content: center!important;
        grid-row: 1/5;
    }
    .casilla-2{
        grid-column: 1/5;
    }
    .seleccion{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
    @media screen and (max-width: 1023px){
        .casillas-1{
            height: vh;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(6, 50px);
            margin: 0 400px 0px 100px;
            padding-bottom: 10px;
            gap: 0;
            justify-content: center!important;
        }
    }
    @media screen and (max-width: 700px){
        .casillas-1{
            margin: 0px 50px 0px 40px;
        }
        .menu{
            text-align: center;
        }
    }